.habitform-header {
  text-align: center;
  margin: 1.75em auto;
}

.habit-form {
  width: 75%;
  margin: 1.75em auto;
}

.habit-form-label {
  font-weight: var(--font-weight-text-l);
}

.habit-form-input {
  width: 100%;
  margin-bottom: 0.5em;
}

.habit-form-submitbtn {
  width: 100%;
  margin: 1em 0;
  font-weight: var(--font-weight-text-l);
  background-color: var(--bg-color-3);
  color: var(--color-text-2);
}

.habit-form-submitbtn:disabled {
  cursor: not-allowed;
  background-color: var(--bg-color-3-disabled);
  color: var(--color-text-2);
}
