.page-footer {
  padding: 2em;
  text-align: center;
  background-color: var(--bg-color-2);
}

.page-footer a,
.page-footer button {
  transition: outline 0.2s ease;
}

.page-footer a:focus-visible,
.page-footer button:focus-visible {
  outline: var(--outline);
}

.page-footer-branding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 1em;
  user-select: none;
  -webkit-user-select: none;
}

.page-footer-branding a::after {
  content: none;
}

.page-footer-branding-logo {
  max-width: 5em;
  max-height: 5em;
}

.page-footer-branding-copyright {
  margin-top: 0.25em;
}

.page-footer-contact {
  margin: 0 auto;
}

.page-footer-contact a:focus-visible {
  outline: none;
}
